<div style="text-align:center">
  <h1>
    Welcome to the roller!
  </h1>
</div>

<mat-button-toggle-group #factionGroup="matButtonToggleGroup" multiple>
  <mat-button-toggle #factionAlliance="matButtonToggle" value="Alliance" checked="true">
    <img src="../assets/Alliance_64.png">
  </mat-button-toggle>
  <mat-button-toggle #factionHorde="matButtonToggle" value="Horde" checked="true">
    <img src="../assets/Horde_64.png">
  </mat-button-toggle>
</mat-button-toggle-group>
<button mat-stroked-button #roll="matButton" (click)="onRoll(factionAlliance.checked, factionHorde.checked)">Roll it!</button>
<hr>
<h2>Faction: {{faction}}</h2>
<h2>Race: {{race}}</h2>
<h2>Gender: {{gender}}</h2>
<h2>Class: {{charClass}}</h2>
<h2>Spec: {{spec}}</h2>
